<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nora.modules.system.mapper.SysMenuMapper">
    <select id="queryUserMenuTree" resultType="org.nora.modules.system.entity.SysMenu">
        SELECT
        sm.*
        FROM
        sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.guid = srm.menu_id
        LEFT JOIN sys_user_role sur ON sur.role_id = srm.role_id
        LEFT JOIN sys_user su ON su.guid = sur.user_id
        WHERE
        su.guid = #{guid}
        and sm.menu_type &lt;&gt;'3'
        order by sm.sorter
    </select>

</mapper>
